/* Global */

body {
    font-family: 'Alegreya', serif;
    font-size: 16px;
    margin: 0;
    color: #5c5c5b;
}

section {
    padding: 7rem 0 7rem 0; 
}

.section-title {
    text-align: center;
    padding: 0 0 3rem 0;
}

.section-title p,
.description p {
    font-size: 20px;
    font-style: italic;
    margin-top: 0.5rem;
}

.title,
.subtitle {
    font-family: 'Montserrat', sans-serif;
    color: #292928;
    margin-bottom: 0;
}

.title {
    font-size: 36px;
    
}

.subtitle {
    font-size: 20px;
}

.row {
    padding: 2rem 0;
    text-align: center;
}

/* Header */

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation-list ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 1rem 1rem 1rem 15rem;
    padding: 0;
}

.navigation-logo {
    margin: 1rem;
}

.navigation-logo p {
    color: #face1e;
    font-family: 'Carattere', cursive;
    font-size: 28px;
}

.navigation-list li {
    padding: 15px;
}

.splash a {
    text-decoration: none;
    color: #fafaf7;
}

.splash a:hover {
    color: #fcdd60;
}

.splash-inner a:hover {
    background: #fac802;
    color: #fff;
}

.splash {
    min-height: 600px;
    width: 100%;
    background-image: url('https://i.postimg.cc/DwNttfBv/pexels-wallace-chuck-4896293.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
    text-align: center;
}

.splash-inner a {
    background: #face1e;
    padding: 25px 50px;
    border-radius: 3px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.page-title,
.page-subtitle {
    color: #fafaf7;
}

.page-title {
    
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
}

.page-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    letter-spacing: 0.1rem;
}

/* Services */

.services i {
    font-size: 36px;
    color: #face1e;
    border: 4px solid #face1e;
    width: 80px;
    height: 80px;
    line-height: 70px;
    border-radius: 50px;
}

/* Portfolio */

.portfolio {
    background: #f0efed;
}

.portfolio img {
    height: 350px;
    width: 100%;
}

.description {
    background: #fff;
    padding: 0.4rem;
}

/* Footer */

.footer i {
    font-size: 20px;
    color: #fff;
    background: #292928;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    line-height: 40px;
    transition: transform 1s;
}

.footer i:hover {
    color: #face1e;
    transform: scale(1.2);
}

.footer-icons {
    display: flex;
    padding-left: 3rem;
}

.footer-icons a {
    
    margin-left: 10px;
}

.footer p {
    text-align: left;
}

@media only screen and (max-width: 700px) {
    .hidden {
      display: none;
    }
    .navigation-list ul {
        margin: 0.5rem;
        
    }
    .navigation-list li {
        padding: 2px;
        font-size: 10px;
    }
    .footer-row {
        display: flex;
        flex-direction: column;
    }
    .footer p {
        text-align: center;
    }
    .footer-icons {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
    .element {
        margin-bottom: 30px;
    }
    .portfolio img {
        width: 80%;
    }
    .description {
        width: 80%;
        margin: 0 auto;
    }
  }